<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.gma">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Raise_Issue"
            android:parentActivityName=".User_Page"></activity>
        <activity
            android:name=".Grade_generate"
            android:parentActivityName=".Alldetails" />
        <activity
            android:name=".Interval"
            android:parentActivityName=".User_Page" />
        <activity
            android:name=".marks_updation"
            android:parentActivityName=".Alldetails" />
        <activity
            android:name=".student_details"
            android:parentActivityName=".Alldetails" />
        <activity
            android:name=".Grace_mark_update"
            android:parentActivityName=".GM_update" />
        <activity
            android:name=".GM_update"
            android:parentActivityName=".User_Page" />
        <activity
            android:name=".Alldetails"
            android:parentActivityName=".User_Page" />
        <activity
            android:name=".User_Details"
            android:parentActivityName=".User_Page" />
        <activity
            android:name=".User_Page"
            android:label="@string/title_activity_user__page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>